<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PhiMetrices Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="de787b">  <td>17/05/03 17:00:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InstagramTest.configClass()[pri:0, instance:Thread[Thread-2,5,main]]">&gt;&gt;configClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="de787b">  <td>17/05/03 17:00:57</td>   <td>15020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InstagramTest.sendImage()[pri:0, instance:Thread[Thread-2,5,main]]">sendImage</td> 
  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="de787b">  <td>17/05/03 17:01:34</td>   <td>52085</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InstagramTest.signalValue()[pri:0, instance:Thread[Thread-2,5,main]]">&lt;&lt;signalValue</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="fc8e61">  <td>17/05/03 17:02:02</td>   <td>79641</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TwitterTest.configClass()[pri:0, instance:Thread[Thread-3,5,main]]">&gt;&gt;configClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="fc8e61">  <td>17/05/03 17:02:19</td>   <td>96984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TwitterTest.postStatus()[pri:0, instance:Thread[Thread-3,5,main]]">postStatus</td> 
  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="fc8e61">  <td>17/05/03 17:03:07</td>   <td>144424</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TwitterTest.signalValue()[pri:0, instance:Thread[Thread-3,5,main]]">&lt;&lt;signalValue</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="cfa965">  <td>17/05/03 17:03:34</td>   <td>171381</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WhatsappTest.configClass()[pri:0, instance:Thread[Thread-4,5,main]]">&gt;&gt;configClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="cfa965">  <td>17/05/03 17:03:45</td>   <td>182866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatsappTest.sendImage()[pri:0, instance:Thread[Thread-4,5,main]]">sendImage</td> 
  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="cfa965">  <td>17/05/03 17:04:15</td>   <td>212643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatsappTest.sendVideo()[pri:0, instance:Thread[Thread-4,5,main]]">sendVideo</td> 
  <td>LAVA@362605523</td>   <td></td> </tr>
<tr bgcolor="cfa965">  <td>17/05/03 17:04:40</td>   <td>237593</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WhatsappTest.signalValue()[pri:0, instance:Thread[Thread-4,5,main]]">&lt;&lt;signalValue</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>LAVA@362605523</td>   <td></td> </tr>
</table>
