<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67ec80">  <td>17/05/03 15:09:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LinkedInTest.configClass()[pri:0, instance:Thread[Thread-0,5,main]]">&gt;&gt;configClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007251739</td>   <td></td> </tr>
<tr bgcolor="67ec80">  <td>17/05/03 15:09:47</td>   <td>1997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LinkedInTest.sendImage()[pri:0, instance:Thread[Thread-0,5,main]]">sendImage</td> 
  <td>main@1007251739</td>   <td></td> </tr>
</table>
